<section class="cart-success section-offset">
	<div class="container">
		<h2 class="cart-success__title">Спасибо, мы уже получили вашу заявку и очень скоро с вами свяжемся.</h2>
		<div class="cart-success__text">
			<p>
				А пока предлагаем вам почитать самую полезную информацию в наших телеграмм каналах:
			</p>
		</div>
		<ul class="cart-success__list list-reset">
			<li class="cart-success__item">
				<div class="cart-success__name">
					Битум и ПБВ
				</div>
				<a href="https://t.me/bitumomt" target="_blank" class="b-btn b-btn--green">
					Подписаться
				</a>
			</li>
			<li class="cart-success__item">
				<div class="cart-success__name">
					Около АЗС
				</div>
				<a href="https://t.me/okolo_AZS" target="_blank" class="b-btn b-btn--green">
					Подписаться
				</a>
			</li>
		</ul>
	</div>
</section>
