<div class="pagination">
	<ul class="pagination__list list-reset">
		<li class="pagination__item">
			<a href="#" class="pagination__link">
				<svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
					<path d="M13.0459 16.0986L7.81241 11.0672L13.1037 6.10082" stroke="#2852A9" stroke-width="2"
					      stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</a>
		</li>
		<li class="pagination__item">
			<a href="#" class="pagination__link">
				1
			</a>
		</li>
		<li class="pagination__item">
			<a href="#" class="pagination__link">
				2
			</a>
		</li>
		<li class="pagination__item">
			<a href="#" class="pagination__link">
				...
			</a>
		</li>
		<li class="pagination__item">
			<a href="#" class="pagination__link">
				4
			</a>
		</li>
		<li class="pagination__item">
			<a href="#" class="pagination__link">
				<svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
					<path d="M7.0918 5.98145L12.3563 10.9804L7.09583 15.9794" stroke="#2852A9" stroke-width="2"
					      stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</a>
		</li>
	</ul>
</div>
