<section class="news">
	<div class="container">
		<div class="news__head">
			<h2 class="section-title news__title">
				{{ 'Название новости' }}
			</h2>
		</div>
		<div class="news__main">
			<div class="news__wrapper">
				<div class="news__poster">
					<picture>
						<source srcset="images/news/poster-1.webp 1x, images/news/poster-1@2x.jpg 1.3x"
						        type="image/webp">
						<source srcset="images/news/poster-1.jpg 1x, images/news/poster-1@2x.jpg 1.3x"
						        type="image/jpg">
						<img src="images/news/poster-1.jpg" width="1224"
						     height="440" alt="">
					</picture>
				</div>
				<div class="news__text">
					<p>
						{{ 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem
					ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum
					dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt' }}
					</p>
				</div>
			</div>
			<div class="news__wrapper">
				<div class="news__poster">
					<picture>
						<source srcset="images/news/poster-2.webp 1x, images/news/poster-2@2x.jpg 1.3x"
						        type="image/webp">
						<source srcset="images/news/poster-2.jpg 1x, images/news/poster-2@2x.jpg 1.3x"
						        type="image/jpg">
						<img src="images/news/poster-2.jpg" width="1224"
						     height="440" alt="">
					</picture>
				</div>
				<div class="news__text">
					<p>
						{{ 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem
					ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum
					dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt' }}
					</p>
				</div>
				<div class="news__text">
					<p>
						{{ 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem
					ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum
					dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt' }}
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
