.error {
	margin : 24px 0;
}

.error__logo {
	height : 38px;
	width  : 54px;

	@media screen and (min-width : $break-table) {
		height : 61px;
		width  : 86px;
	}

	@media screen and (min-width : $break-desktop) {
		height : 89px;
		width  : 124px;
	}
}

.error__wrap {
	background-color    : $second-blue;
	background-image    : url("../images/icon/error-bg-mobile.svg");
	background-position : bottom center;
	background-repeat   : no-repeat;
	background-size     : contain;
	border-radius       : 12px;
	padding             : 16px 16px;

	@media screen and (min-width : $break-table) {
		background-image : url("../images/icon/error-bg-tablet.svg");
		padding          : 24px 24px;
	}

	@media screen and (min-width : $break-desktop) {
		background-image    : url("../images/icon/error-bg.svg");
		background-position : center left;
	}
}

.error__wrapper {
	align-items    : center;
	display        : flex;
	flex-direction : column;
	padding        : 150px 0 190px 0;

	@media screen and (min-width : $break-table) {
		padding : 90px 0 180px 0;
	}

	@media screen and (min-width : $break-desktop) {
		padding : 100px 0 200px 0;
	}
}

.error__text {
	color       : $dark;
	font-size   : 24px;
	font-weight : 600;
	line-height : 24px;
	margin      : 0 auto 24px auto;
	max-width   : 283px;
	text-align  : center;

	@media screen and (min-width : $break-table) {
		font-size   : 34px;
		line-height : 34px;
		max-width   : 402px;
	}

	@media screen and (min-width : $break-desktop) {
		font-size   : 38px;
		line-height : 38px;
		max-width   : 498px;
	}
}
