.mailing__wrapper {
	background-color : $second-blue;
	overflow         : hidden;
	padding          : 24px 16px 0 16px;

	@media screen and (min-width : $break-table) {

		display         : flex;
		justify-content : space-between;
		padding         : 24px 16px;
	}

	@media screen and (min-width : $break-desktop) {
		padding : 48px 48px;
	}
}

.mailing__main {
	margin-bottom : 24px;

	@media screen and (min-width : $break-table) {
		margin-bottom : 0;
		min-width     : 456px;
	}

	@media screen and (min-width : $break-desktop) {
		min-width : 640px;
	}
}

.mailing__title {
	color         : $dark;
	font-size     : 28px;
	font-weight   : 600;
	line-height   : 32px;
	margin-bottom : 8px;

	@media screen and (min-width : $break-table) {

	}

	@media screen and (min-width : $break-desktop) {
		font-size     : 48px;
		font-weight   : 600;
		line-height   : 54px;
		margin-bottom : 12px;
	}
}

.mailing__text {
	color         : $dark;
	font-size     : 14px;
	font-weight   : 400;
	line-height   : 22px;
	margin-bottom : 24px;

	@media screen and (min-width : $break-table) {
		margin-bottom : 16px;
	}

	@media screen and (min-width : $break-desktop) {
		font-size     : 20px;
		font-weight   : 400;
		line-height   : 28px;
		margin-bottom : 36px;
	}

}

.form--mailing {
	display        : flex;
	flex-direction : column;


	@media screen and (min-width : $break-table) {
		display : unset;
	}

	@media screen and (min-width : $break-desktop) {
		margin-top : 36px;
	}

	.form__label {
		margin-bottom : 12px;
	}

	.form__input {
		width : 100%;

		@media screen and (min-width : $break-table) {
			min-width : 250px;
			width     : unset;
		}

		@media screen and (min-width : $break-desktop) {
			min-width : 391px;
		}

	}

	.b-btn--green {
		font-size   : 16px;
		font-weight : 500;
		line-height : 18px;
		padding     : 14px 20px;

		@media screen and (min-width : $break-table) {
			font-size   : 20px;
			line-height : 20px;
			margin-left : 12px;
		}

		@media screen and (min-width : $break-desktop) {

		}
	}
}

.mailing__subtext {
	color       : rgba(18, 17, 17, 0.5);
	font-size   : 10px;
	font-weight : 400;
	line-height : 14px;
	margin-top  : 12px;
	max-width   : 218px;

	@media screen and (min-width : $break-table) {
	}

	@media screen and (min-width : $break-desktop) {
		font-size   : 14px;
		line-height : 18px;
		max-width   : 301px;
	}
}

.mailing__img {
	display         : flex;
	flex-direction  : column;
	justify-content : flex-end;
	text-align      : center;

	@media screen and (min-width : $break-table) {
		margin-bottom : -31px;
	}

	@media screen and (min-width : $break-desktop) {
		margin-bottom : -48px;
	}
}

