<div class="s-block {{ class ? ' ' ~ class }}">
	<a href="#" class="s-block__item" target="_blank" rel="noopener nofollow">
		<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
			<rect x="0.5" y="0.5" width="31" height="31" rx="15.5" stroke="white"/>
			<path d="M9.62509 10.7503C9.45074 10.7503 9.28581 10.7914 9.13882 10.8616L15.473 17.2658C15.7674 17.5639 16.221 17.5639 16.5159 17.2658L22.8615 10.8613C22.7145 10.7912 22.5495 10.75 22.3751 10.75L9.62509 10.7503ZM23.3887 11.389L18.6308 16.1997L23.3887 20.6177C23.4604 20.4694 23.5 20.3017 23.5 20.1254L23.5 11.8754C23.5 11.701 23.4589 11.536 23.3887 11.389ZM8.60555 11.3949C8.53727 11.54 8.5 11.7037 8.5 11.8753L8.5 20.1253C8.5 20.3015 8.53963 20.4693 8.6113 20.6175L13.3635 16.2055L8.60555 11.3949ZM18.0978 16.733L17.049 17.7936C16.4697 18.3788 15.5186 18.3796 14.9396 17.7936L13.8967 16.7389L9.15057 21.1451C9.29457 21.2118 9.45545 21.2507 9.62522 21.2507L22.3753 21.2507C22.5451 21.2507 22.706 21.212 22.85 21.1453L18.0978 16.733Z"
			      fill="white"/>
		</svg>
	</a>
	<a href="#" class="s-block__item" target="_blank" rel="noopener nofollow">
		<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
			<rect x="0.5" y="0.5" width="31" height="31" rx="15.5" stroke="white"/>
			<path fill-rule="evenodd" clip-rule="evenodd"
			      d="M9.06825 15.1568C13.0825 13.3383 15.7594 12.1392 17.0989 11.5596C20.9236 9.90462 21.7187 9.61625 22.2381 9.60338C22.3524 9.60054 22.608 9.62772 22.7744 9.7637C22.9149 9.87852 22.9545 10.0346 22.9736 10.1443C22.9927 10.2539 23.0173 10.5038 23.0005 10.6993C22.8077 12.9306 21.9451 18.3481 21.5045 20.8487C21.3181 21.9068 20.9392 22.2637 20.5704 22.3009C19.7688 22.3817 19.1556 21.7693 18.3752 21.2546C17.154 20.4493 16.4639 19.9474 15.2785 19.1615C13.9086 18.2533 14.7892 17.743 15.5607 16.9135C15.7627 16.6965 19.2744 13.3905 19.3407 13.0923C19.349 13.055 19.356 12.9161 19.2748 12.8434C19.1935 12.7706 19.0745 12.7965 18.9886 12.817C18.8669 12.8461 16.9338 14.1699 13.1894 16.7883C12.6408 17.1785 12.1428 17.3702 11.6954 17.3633C11.2022 17.3558 10.2517 17.0884 9.54488 16.8592C8.67796 16.578 7.98947 16.4308 8.04602 15.9429C8.07548 15.6887 8.41622 15.4267 9.06825 15.1568Z"
			      fill="white"/>
		</svg>
	</a>
</div>
