// Variables
// ---------
$body-font-size           : 16px;
$body-font                : 'TTHoves', system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
$body-font-alt            : Georgia, Times, Times New Roman, serif;
$body-line-height         : 161%;
$body-color               : #121111;
$body-background          : #FFF;


// Table
$table-header-font-weight : 700;
$table-cell-padding       : 5px 10px;

// Text
$heading-font-weight      : 700;
$heading-line-height      : 1.2;
$heading-margin           : 0 0 1em;
$paragraph-margin         : 0 0 1.7em;
$list-margin              : 2.6em 0;
$h1                       : 28px;
$h2                       : 24px;
$h3                       : 20px;
$h4                       : 18px;
$h5                       : 16px;
$bold-font-weight         : 700;
$space-1                  : 1em;
$space-2                  : 2em;
$space-3                  : 3em;
$text-small               : 14px;

// Color
$main                     : $body-color;
$red                      : #F61001;
$link-color               : #203735;
$link-color-hover         : #37605C;
$green                    : #5BB797;
$blue                     : #2852A9;
$light-blue               : #DFEFF8;
$white                    : #FFF;
$dark                     : #121111;
$second-blue              : #E3ECFF;
$second-green             : #EFF8F5;

$border-radius            : 12px;

$break-desktop            : 1279px;
$break-table              : 744px;

