<section class="contacts">
	<div class="container">
		<div class="contacts__wrapper">
			<div class="contacts__grid">
				<div class="contacts__main">
					<h2 class="contacts__title">
						{{ 'Контакты' }}
					</h2>
					<ul class="contacts__list list-reset">
						<li class="contacts__item">
							<div class="contacts__icon">
								<img src="images/icon/pin.svg" alt="" width="32" height="32">
							</div>
							<div class="contacts__text">
								<p>
									{{ 'Москва, Научный проезд, д. 12 (90 офис, 9 этаж)' }}
								</p>
								<p>
									{{ 'Офис находится в 10 минутах от м. Калужская (шаговая доступность)' }}
								</p>
							</div>
						</li>
						<li class="contacts__item">
							<div class="contacts__icon">
								<img src="images/icon/phone-blue.svg" alt="" width="32" height="32">
							</div>
							<a href="tel:+74959712330" class="contacts__link">+7 (495) 971-23-30</a>
						</li>
						<li class="contacts__item">
							<div class="contacts__icon">
								<img src="images/icon/phone-blue.svg" alt="" width="32" height="32">
							</div>
							<a href="tel:+74953696801" class="contacts__link">+7 (495) 369-68-01</a>
						</li>
						<li class="contacts__item">
							<div class="contacts__icon">
								<img src="images/icon/mail-blue.svg" alt="" width="32" height="32">
							</div>
							<a href="tel:+74953696801" class="contacts__link">info@omt-consult.ru</a>
						</li>
					</ul>
				</div>
				<div class="map" id="map"></div>
			</div>
		</div>
	</div>
</section>
