{% if data|length > 0 %}
	<section class="reviews section-offset" data-slider="reviews-slider">
		<div class="container">
			<div class="section-head reviews__head">
				<h2 class="section-title">
					{{ 'Отзывы и благодарственные письма' }}
				</h2>
				<div class="swiper-nav">
					<div class="reviews-prev swiper-button swiper-button-prev">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="15" viewBox="0 0 20 15"
						     fill="none">
							<path d="M19 7.86517H1M1 7.86517L6.26316 2.86719M1 7.86517L6.26316 12.8632"
							      stroke="#2852A9"
							      stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</div>
					<div class="reviews-next swiper-button swiper-button-next">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="15" viewBox="0 0 20 15"
						     fill="none">
							<path d="M1 7.86517H19M19 7.86517L13.7368 2.86719M19 7.86517L13.7368 12.8632"
							      stroke="#2852A9"
							      stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</div>
				</div>
			</div>
			<div class="reviews__wrap">
				<div class="swiper swiper--reviews">
					<div class="swiper-wrapper">
						{% for item in data.list %}
							<div class="swiper-slide">
								{% include "../../blocks/reviews-item.twig" with {
									'item': item,
								} only %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}
