<section class="about-section section-offset">
	<div class="container">
		<div class="section-head">
			<h2 class="section-title about-section__title">
				{{ "О нас" }}
			</h2>
		</div>
		<div class="about-section__grid">
			<div class="about-item about-item--icon about-item--blue">
				<div class="about-item__icon">
					<img src="images/home/about/keyboard.svg" alt="" width="48" height="48">
				</div>
				<div class="about-item__wrap">
					<div class="about-item__text">
						{{ "Готовые данные и индивидуальные исследования" }}
					</div>
				</div>
			</div>
			<div class="about-item about-item--picture">
				<div class="about-item__bg">
					<picture>
						<source srcset="images/home/about/about-1.webp 1x, images/home/about/about-1@2x.webp 1.3x"
						        type="image/webp">
						<source srcset="images/home/about/about-1.jpg 1x, images/home/about/about-1@2x.jpg 1.3x"
						        type="image/jpg">
						<img src="images/home/about/about-1.jpg" width="280"
						     height="260" alt="">
					</picture>
				</div>
				<div class="about-item__wrapper">
					<div class="about-item__wrap">
						<div class="about-item__text">
							Более <span>20 лет</span> на рынке
						</div>
					</div>
				</div>
			</div>
			<div class="about-item about-item--picture">
				<div class="about-item__bg">
					<picture>
						<source srcset="images/home/about/about-2.webp 1x, images/home/about/about-2@2x.webp 1.3x"
						        type="image/webp">
						<source srcset="images/home/about/about-2.jpg 1x, images/home/about/about-2@2x.jpg 1.3x"
						        type="image/jpg">
						<img src="images/home/about/about-2.jpg" width="288"
						     height="292" alt="">
					</picture>
				</div>
				<div class="about-item__wrapper">
					<div class="about-item__wrap">
						<div class="about-item__text">
							Нам доверяют <span>1000+</span> компаний
						</div>
					</div>
				</div>
			</div>
			<div class="about-item about-item--icon about-item--green">
				<div class="about-item__icon">
					<img src="images/home/about/chart.svg" alt="" width="48" height="48">
				</div>
				<div class="about-item__wrap">
					<div class="about-item__text">
						{{ "Лучшие аналитики отрасли" }}
					</div>
				</div>
			</div>
			<div class="about-item about-item--icon about-item--blue">
				<div class="about-item__icon">
					<img src="images/home/about/airdrop.svg" alt="" width="48" height="48">
				</div>
				<div class="about-item__wrap">
					<div class="about-item__text">
						{{ "Широкая сеть источников информации" }}
					</div>
				</div>
			</div>
			<div class="about-item about-item--picture">
				<div class="about-item__bg">
					<picture>
						<source srcset="images/home/about/about-3.webp 1x, images/home/about/about-3@2x.webp 1.3x"
						        type="image/webp">
						<source srcset="images/home/about/about-3.jpg 1x, images/home/about/about-3@2x.jpg 1.3x"
						        type="image/jpg">
						<img src="images/home/about/about-3.jpg" width="600"
						     height="324" alt="">
					</picture>
				</div>
				<div class="about-item__wrapper">
					<div class="about-item__wrap">
						<div class="about-item__text">
							Оперативное предоставление информации
						</div>
						<div class="about-item__subtext">
							Доступ к отчетам через несколько часов
							с момента отправки запроса, передача данных
							по API в режиме реального времени
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
