<div class="banner section-offset">
	<div class="container">
		<div class="banner__wrapper">
			<div class="banner__text{{ class? ' ' ~ class }}">
				<p>
					{{ bannerText }}
				</p>
			</div>
			<div class="banner__img">
				<picture>
					<source srcset="images/home/banner/banner-img.webp 1x, images/home/banner/banner-img@2x.webp 1.3x"
					        type="image/webp">
					<source srcset="images/home/banner/banner-img.png 1x, images/home/banner/banner-img@2x.png 1.3x"
					        type="image/jpg">
					<img src="images/home/banner/banner-img.png" width="416"
					     height="156" alt="">
				</picture>
			</div>
		</div>
	</div>
</div>
