.btn-categories {
	align-items      : center;
	background-color : $white;
	border           : 1px solid rgba(18, 17, 17, 0.5);
	border-radius    : 20px;
	color            : rgba(18, 17, 17, 0.5);
	display          : flex;
	font-size        : 16px;
	font-weight      : 500;
	justify-content  : center;
	line-height      : 20px;
	margin           : 0 6px;
	padding          : 10px 16px;
	white-space      : nowrap;
	width            : auto;

	&.active {
		background-color : $blue;
		border           : 1px solid $blue;
		color            : $white;
	}
}

.categories-list {
	margin : 0 -6px;
}

.swiper--categories {
	overflow : visible;

	@media screen and (min-width : $break-table) {

	}

	@media screen and (min-width : $break-desktop) {
		overflow : hidden;
	}

	.swiper-slide {

		width : auto;
	}
}
