<div class="error">
	<div class="container">
		<div class="error__wrap">
			<a href="index.html">
				<img class="error__logo" src="images/icon/logo.svg" alt="" width="124" height="89">
			</a>
			<div class="error__wrapper">
				<div class="error__text">
					{{ 'Страницы с таким адресом не существует' }}
				</div>
				<a href="index.html" class="b-btn b-btn--blue">
					{{ 'На главную' }}
				</a>
			</div>
		</div>
	</div>
</div>
